@import '../../../styles/variables.scss';

.nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.8rem;;
  background-color: $main-white;
  z-index: 99;
}

.nav::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: $main-white;;
  z-index: -1;
}

.nav__links {
  display: flex;
  gap: 1rem;
}