@import '../../../styles/variables.scss';

.layout {
  display: grid;
  place-items: center;
  width: 100%;
  background-color: $main-white;
  overflow: hidden;
  z-index: -2;
}

.layout__wrapper {
  width: 100%;
  max-width: 100rem;
}