$main-blue: hsl(231, 69%, 60%);
$main-red: hsl(0, 94%, 66%);
$main-white: hsl(0, 0%, 100%);
$main-grey: hsl(229, 8%, 60%);
$main-font: hsl(0, 0, 15%);
$secondary-grey: hsl(0, 0, 33%);
$secondary-blue: hsl(229, 31%, 21%);
$transparent-grey: hsl(0, 0%, 100%, 0.3);
$transparent-blue: hsl(229, 31%, 21%, 0.9);
