@import '../../../../styles/variables.scss';

.bookmarking {
  display: grid;
  width: 100%;
  row-gap: 4rem;
}

.bookmarking--mobile {
  grid-template-rows: auto auto;

  .bookmarking__content {
    text-align: center;
  }
}

.bookmarking__tab-picture {
  position: relative;
  align-self: center;
  z-index: 1;
}

.bookmarking__content {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;

  h2 {
    font-weight: 500;
    color: $main-font;
  }

  p {
    color: $main-grey;
    letter-spacing: 0.1rem;
    line-height: 1.9rem;
  }
}

.bookmarking__content-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bookmarking__button-wrapper {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  column-gap: .5rem;
}

.bookmarking__tab-picture::before {
  content: '';
  position: absolute;
  right: 17%;
  top: 17%;
  background-color: $main-blue;
  height: 96%;
  width: 100%;
  border-bottom-right-radius: 27%;
  z-index: -1;
}

.bookmarking--desktop {
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  column-gap: 4rem;

  h2 {
    font-size: clamp(1.6875rem, 2.5vw, 2.25rem)
  }

  .bookmarking__tab-picture {
    padding: 1rem;
    position: relative;
    align-self: center;
    z-index: 1;
  }

  .bookmarking__tab-picture::before {
    top: 23%;
    border-bottom-right-radius: 30%;
    width: 80%;
    height: 89%;
  }

  .bookmarking__tab-picture::after {
  content: '';
  position: absolute;
  right: 90%;
  top: 23%;
  background-color: $main-blue;
  height: 89%;
  width: 50vw;
  z-index: -1;
}


  .bookmarking__tab-picture {
    position: relative;
    align-self: center;
    z-index: 1;
    width: 50vw;
    max-width: 50rem;
  }

  .bookmarking__button-wrapper {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    column-gap: .5rem;
    width: min-content;

    button {
      justify-self: center;
      width: 11rem;
    }
  }

  p {
    padding-right: clamp(0rem, 2.5vw, 5rem);
  }
}