@import '../../../../styles/variables.scss';

.faq__accordion-tab-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding-block: .8rem;

  p {
    color: $main-font;
  }
}

.faq__accordion-tab-header::before, .faq__accordion-tab-header::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: .0625rem;
  background-color: $light-grey;
  transition: background-color .4s;
}

.faq__accordion-tab-header::after {
  top: 0;
}


.faq_accordion-tab-content {
  p {
    padding-block: 1rem;
  }
}