@import '../../../../styles/variables.scss';

.nav__mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: rem;
  color: $main-white;
  padding: 2rem 1.8rem;
  width: 100%;
  background-color: $transparent-blue;
  z-index: 2000;

  i {
    transition: color .4s;
    cursor: pointer;
  }

  i:hover {
    color: $main-red;
  }
}

.nav__mobile-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav__mobile-menu-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2rem;
}

.nav__mobile-menu-social {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 2rem;
}